.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Saved/*
Intermediate/*
Plugins/*/Intermediate/*
DerivedDataCache/*
*_BuiltData.uasset
Binaries/*
Plugins/*/Binaries/*



Saved/Logs/GMTK2020.log
Saved/Logs/GMTK2020.log
*.log
DerivedDataCache/*